.titles{
    text-align: center; 
    color: #9d9d9d; 
    font-weight: 900; 
    box-sizing: border-box; 
    padding: 3% 3.5%;}
.colorChange{
    color: #7800ff; 
    transition: 1s; 
    transform: translateY(10px);}
.title{font-size: 44px;}
.sub_title{
    font-size: 12px; 
    margin-top: 12px;
    font-weight: 100;}
.main_visual{
    width: 100%; 
    height: 68vw; 
    min-height: 700px; 
    max-height: 1080px; 
    background: #fff; 
    position: relative; 
    overflow: hidden; }
.circles>div{ 
    min-width: 200px; 
    min-height: 200px; 
    background: #ae68fe; 
    border-radius: 50%; 
    position: absolute;}
.circle1{
    left:-3%; 
    top:8%;
    width: 22.0146vw;
    height: 22.0146vw; 
    animation: motion1 12s none infinite alternate;}
.circle2{right:40%; bottom: -5%; width: 26vw; height:26vw;animation: motion2 20s none infinite alternate;}
.circle3{right:8%; bottom:50%;width: 16vw; height: 16vw;animation: motion3 3s none infinite alternate;}
.maincopy{position: absolute; top:35%;left: 50%;}
.maincopy img{display: block; padding: 2%;}
.maincopy1{margin-left: -16.1979vw;width:31.0208vw; animation: appear 2s ease-out;}
.maincopy2{margin-left: -21.5104vw; width: 41.0208vw; animation: appear 2s ease-in;}
.scroll{position: absolute; bottom: 15%; left: 55%;animation: updown 1s none infinite alternate; margin-left: -102px;}


.about{width: 100%; height: auto; max-height: 1080px;  background: linear-gradient(90deg, #fff 50%, #fafafa 50%); padding-bottom: 5%;}
.about .part{color:#8d8c8c; font-size: 16px; font-weight: 900;}
.about .inner{margin-top: 3%;}
.about .intro{width: 50%; text-align: right; float: left; font-size: 14px; color:#6a6a6a; line-height: 2;box-sizing: border-box;}
.about .develep>div{margin: 5% 0;}
.about .grapic>div{margin: 5% 0;}
.about .intro .con_wrap{margin-right: 10%;}
.about .intro p{margin-top: 8%;}
.about .intro p >span{color:#ae68fe; font-weight: bolder}
.about .skill{width: 50%;float: left; box-sizing: border-box; }
progress{margin:30px 0 0 2%; height: 10px; width: 400px; display: inline-block; border-radius: 5px; border: none;}
/* IE10 */
progress {color:#d70707;}
/* Firefox */
progress::-moz-progress-bar{background:#d70707;}
/* Chrome */
progress::-webkit-progress-value {background:#d70707;}
/* Polyfill */
progress[aria-valuenow]:before{background:#d70707;}
/* Firefox , Polyfill */
progress,progress[role][aria-valuenow] {background: #bcbcbc; !important;}
/* Chrome */
progress::-webkit-progress-bar {background: #bcbcbc;}
#pro4, #pro5{margin-top: 20px;}
.about .intro_more{width: 90px; height: 30px; border: 1px solid #9d9d9d; color:#9d9d9d; margin-top: 5%;}
.about .intro_more:hover{background: #d70707; color: #fff; border: none;}
.about .skill .con_wrap{margin-left: 10%;}
.about .detail{font-size: 12px; color: #696969; display: inline-block; margin-left: 65px;}
.aboutme_more{position: fixed; width: 100%; height: 1080px; background: #fff; top:-100%; left:-100%; z-index: 999;overflow-y: scroll;max-height: 100%;-ms-overflow-style: none;}
.aboutme_more::-webkit-scrollbar {display:none;}
.aboutme_more .title{color: #d70707;}
.on2{top:0;left: 0;}
.aboutme_more .x_btn{position: absolute; top:20px; right: 5%; cursor: pointer;}
.profile_img, .profile_wrap{width: 50%;float: left; box-sizing: border-box;}
.profile_wrap > div h5{color:#766e6e;font-size: 18px; border-bottom: 1px solid #e1e1e1; font-weight: bold; padding-bottom: 10px; width: 80%;}
.profile_wrap p{color:#4e4e4e;margin-top: 10px;font-size: 14px;}
.profile_wrap table{margin-top: 10px;color: #4e4e4e;font-size: 14px;}
.profile_wrap td:first-child{color: #aaaaaa; padding-right: 20px; font-size: 14px;}
.profile_wrap>div{margin-bottom: 5%;}
.aboutme_more .center{margin: 0 auto; width: 50%; text-align: center;}
.aboutme_more .profile_img img{width: 30vw; min-width: 180px; max-width: 400px; text-align: center;}
.aboutme_more .inner{margin-top: 5%;}
.con_wrap >ul { margin-top:15px; color: #72726c; letter-spacing: -1px; position: relative;}
.con_wrap > ul > li:nth-child(1) { height:40px; font-size:20px; font-weight:700; line-height:40px;}
.con_wrap .bar1, .bar2, .bar3 { display:block; width:70px; height:32px; border-left:6px solid #72726c; border-top:1px solid #72726c;
position: absolute; right:0;} 

.mywork1{
    height: 800px; background: #fff; width: 100%; box-shadow: 0px 10px 15px rgb(203 203 203 / 18%); padding-bottom: 5%;}
.mywork1 .inner{max-width: 1440px; margin: 0 auto; min-width: 300px;}
.mywork1 .inner .works{width:32%; height: 540px;float: left; margin-right: 2%; }
.mywork1 .inner .works>div{ background: #ffc5c5;}
.mywork1 .inner .works:last-child{margin-right: 0;}
.mywork1 .inner .works>div{box-sizing: border-box;position: relative; overflow: hidden; background: #fbfbfb;}
.banner1, .banner2, .banner3{width: 100%; height: 100%;}
.mywork1 .inner .works .banner1{background: url(../img/nex_mock.png) no-repeat;  background-position: center top;  background-size: contain;}
.mywork1 .inner .works .banner2{background: url(../img/you_mock.png) no-repeat;  background-position: center top;  background-size: contain;}
.mywork1 .inner .works .banner3{background: url(../img/gentle_mock.png) no-repeat;  background-position: center top;  background-size: contain;}

.caption{position: absolute; top:100px; width: 100%; height: 72%;background:rgba(174, 104, 254, 0.5);opacity: 0; transition: all 0.3s cubic-bezier(.42, 0, .58, 1); z-index: 10;}
.caption .caption_wrap{position: relative; width: 100%; height: 100%;}
.bd_line{box-sizing: border-box; border: 2px solid #fff; width: 95%; height: 95%; margin: auto; position: absolute; top:2.5%; left: 2.5%;}
.mywork1 .inner .works > div:hover .caption{opacity: 1; transform: translateY(-100px);}
.mywork1 .inner p{text-align: center; color: #fff; }
.mywork1 .inner .pjt_name{color: #fff; font-weight: 800; padding-top: 35%;font-size: 20px;}
.mywork1 .inner .pjt_name span{font-weight: normal; font-size: 16px;}
.mywork1 .inner .works .banner2 .pjt_name{padding-top: 65%;}
.caption .more{text-align: center;} 
.caption .more a{color:#fff;width: 120px; border: 1px solid #fff;line-height: 30px; font-size: 14px; padding:6px 20px;}
.caption .more a:hover{ background: #fff; color:#ae68fe;}
.caption .more_btn{width: 250px; margin: 5% auto;}
/*.caption .more_btn div{float: left;}*/
.caption .more_btn div:last-child{display: none;}






/* - - -  media qurey  - - - */

/* 980px teblet */
@media only screen and (max-width:980px){
    .maincopy{top:40%;}
    .pop_con{width: 90%;}
    .pop_base .banner_text p{margin-top: 20px;}
    .banner_img{width: 100%;box-sizing: border-box;text-align: center;height: auto;padding:30px;}
    .banner_img img{width: 90%;max-width: 413px}
    .right_area{float: none;box-sizing: border-box; padding:30px; margin: 0 auto; text-align: center;}
    .pop_base .hide_palette{display: none;}
    .pop_base .palettes{display: none;}
    .titles{padding: 5%;} 
    .main_visual{background: #f5f4f4;}
    .subcopys>div{display: none;}
    .subcopys .subcopy_center{display: block; top:60%; left: 50%;}
    .subcopy_center>img{width: 56.4285vw; margin-left: -28.2142vw;}
    .scroll{animation: none;}
    .about{background: #fff; }
    .about .inner{margin-top:0;}
    .about .intro{display: block; width: 100%; height:auto; text-align: center; padding-top: 0;}
    .hello_img {display: none;}
    .about .intro p{margin: 0; line-height: 1.8;} 
    .about .intro .con_wrap{margin-right: 0;}
    .about .skill .con_wrap{margin-left: 0;}
    .about .skill{display: block; background: #fafafa; width: 100%; height: auto; text-align: center;}
    .about .grapic .part{padding-top: 6%;}
    .about .progress{display: block;margin: 2% auto;}
    .profile_img, .profile_wrap{float: none; width: 100%;}
    .profile_wrap{margin: 10% auto; width: 80%; padding: 10% 0 0 0;} 
    .profile_wrap > div h5{width: 100%;}
    .con_wrap .bar1, .bar2, .bar3 { display:block; width:70px; height:32px; border-left:6px solid #72726c; border-top:1px solid #72726c;
        position: absolute; left:270px;} 
        
    .about .detail{margin:0;}
    .mywork1{height: auto;}
    .mywork1 .inner{margin: 0 5%;}
    .caption .more_btn{margin: 10px auto;}
    .mywork1 .inner .pjt_name{padding-top:20%;}
    .mywork1 .inner .works .banner2 .pjt_name{padding-top: 15%;}
    .mywork1 .inner .works{width: 100%; height:30.6122vw; float: none; background-position: center bottom;}
    .mywork1 .inner .works .banner1{height: 40.8163vw; margin-bottom: 3%; float: left; background: url(../img/nex_mock.png); background-position: center;}
    .mywork1 .inner .works .banner2{height: 40.8163vw; margin-bottom: 3%; float: left; background: url(../img/you_mock.png); background-position: center;}
    .mywork1 .inner .works .banner3{height: 40.8163vw; margin-bottom: 3%; float: left; background: url(../img/gentle_mock.png); background-position: center;}

    .pop_base .color{margin: 10px auto;}
    .caption{position: absolute; top:0px; width: 100%; height: 100%;background:rgba(41, 40, 40, 0.62);opacity: 1;}
    .mywork1 .inner .works > div:hover .caption{transform: none;}
    .intro, .skill{padding:5%;box-sizing: border-box;}
}


/* 600px mobile */
@media only screen and (max-width:600px) {
    .maincopy{top:45%;}
    .scroll img{width: 40px;}
    .scroll{margin-left: -70px; bottom: 30%;}
    .about .progress{width: 280px;}
    .profile_wrap table{font-size: 12px;}
    .about .intro_more{border: none; background: #d70707; color:#fff;}
    .profile_wrap p{font-size: 12px; color:#4e4e4e; line-height: 18px;}
    .con_wrap .bar1, .bar2, .bar3 { display:block; width:70px; height:32px; border-left:6px solid #72726c; border-top:1px solid #72726c;
        position: absolute; left:140px;} 
    .mywork1{height: auto;}
    .mywork1 .inner .works > div{width: 100%;float: left; margin: 0; margin-bottom: 3%;min-height: 200px;}
    .mywork1 .inner .pjt_name{padding: 10% 0; height: 20%;}
    .mywork1 .inner .works .banner1{margin-top: 3%; width: 100%;float: left; margin: 0;margin-bottom: 3%; height:30.6122vw; min-height: 200px; background: url(../img/nex_mock.png); background-position: center;}
    .mywork1 .inner .works .banner2{margin-top: 3%; width: 100%;float: left; margin: 0;margin-bottom: 3%; height:30.6122vw; min-height: 200px; background: url(../img/you_mock.png); background-position: center;}  
    .mywork1 .inner .works .banner3{margin-top: 3%; width: 100%;float: left; margin: 0;margin-bottom: 3%; height:30.6122vw; min-height: 200px; background: url(../img/gentle_mock.png); background-position: center;}
    .mywork1 .inner .works .banner2 .pjt_name{padding:10% 0;}
    .pop_base .banner_text p{font-size: 18px;}
    .pop_base .banner_text .banner_descript{font-size: 12px; line-height: 1.6;}
    .popup_bg4,.popup_bg5,.popup_bg6{width: 380px; height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;}
    .pop_con .moreview{color:#fff; padding:2px 20px;line-height: 10px;background: #aaaaaa; margin: 10px auto;}
    .send{width: 320px; height: 500px;}
    .send_move{margin-left: -160px;}
    .send .send_close img{width: 50%;}
    .send .send_close{right: 0; top: 5%;}
    .caption .more_btn{margin: 0 auto;}
}












